.ttsanpham{
    display: flex;
    width: 300px;
    justify-content: space-between;
}
.anhsp {
    width: 150px;
}
.tensp{
    width: 130px;
}
.anhsp img{
    width: 100%;
    
}
table td, 
table th {
    white-space: nowrap;
    width: 1%;
}